                                <div id="confeitados">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                        <div class="col1">
                                            <li>Brigadeiro<div class="pontos"></div><div class="preco">R$ 32,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, creme de brigadeiro</p>
                                            <li>Brigadeiro Belga<div class="pontos"></div><div class="preco">R$ 65,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, brigadeiro de chocolate belga</p>
                                            <li>Brigadeiro com Morango<div class="pontos"></div><div class="preco">R$ 45,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, brigadeiro e morangos frescos</p>
                                            <li>Mousse de Chocolate<div class="pontos"></div><div class="preco">R$ 32,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, mousse de chocolate</p>
                                            <li>Chocolate Amargo<div class="pontos"></div><div class="preco">R$ 40,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, ganache de chocolate 70%</p>
                                            <li>Nozes com Chocolate<div class="pontos"></div><div class="preco">R$ 50,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, nozes picadas e ganache</p>
                                            <li>Floresta Negra<div class="pontos"></div><div class="preco">R$ 38,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, chantilly, chocolate e cerejas</p>
                                            <li>Sensação<div class="pontos"></div><div class="preco">R$ 32,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, mousse de morango e choc.</p>
                                            <li>Mousse de Maracujá c/ Chocolate<div class="pontos"></div><div class="preco">R$ 32,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, mousse de maracujá e choc.</p>
                                            <li>Sonho de Valsa<div class="pontos"></div><div class="preco">R$ 40,00</div></li>
                                            <p class="subtitulo">Massa branca, creme de choc. c/ sonho de valsa</p>
                                        </div>
                                        <div class="col2">
                                            <li>Pessego<div class="pontos"></div><div class="preco">R$ 38,00</div></li>
                                            <p class="subtitulo">Massa branca, mousse de pessego com pedaços da fruta</p>
                                            <li>Abacaxi<div class="pontos"></div><div class="preco">R$ 38,00</div></li>
                                            <p class="subtitulo">Massa branca, mousse de abacaxi com pedaços da fruta</p>
                                            <li>Mousse de Ninho c/ Abacaxi<div class="pontos"></div><div class="preco">R$ 40,00</div></li>
                                            <p class="subtitulo">Massa branca, mousse de Ninho com pedaços de abacaxi</p>
                                            <li>Mousse de Ninho c/ Morango<div class="pontos"></div><div class="preco">R$ 40,00</div></li>
                                            <p class="subtitulo">Massa branca, mousse de Ninho com pedaços de morango</p>
                                            <li>Prestígio<div class="pontos"></div><div class="preco">R$ 36,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, brigadeiro de coco</p>
                                            <li>Beijinho<div class="pontos"></div><div class="preco">R$ 36,00</div></li>
                                            <p class="subtitulo">Massa branca, brigadeiro de coco</p>
                                            <li>Doce de Leite c/ Coco<div class="pontos"></div><div class="preco">R$ 36,00</div></li>
                                            <p class="subtitulo">Massa branca, doce de leite com coco ralado</p>
                                            <li>Doce de Leite c/ Ameixa<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa branca, doce de leite com ameixas</p>
                                            <li>Nozes com Doce de Leite<div class="pontos"></div><div class="preco">R$ 50,00</div></li>
                                            <p class="subtitulo">Massa de nozes, doce de leite</p>
                                            <li>Damasco com Doce de Leite<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa branca, doce de leite com geléia de damasco</p>
                                        </div>
                                        <div class="notas">Preço base por Kg ( aprox. 10 fatias )</div>
                                    </ul>
                                    <p class="texto">Bolos cobertos com Chantilly ou Glacê, confeitados, espatulados ou ondulados.</p>
                                    <h1 class="titulo">Decoração</h1>
                                    <p class="texto">Desenvolvemos as mais variadas decorações com flores ou acabamentos como: bolo <i>Kitkat</i>, papel de arroz personalizado e topos de bolo.</p>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site
                                        ou pelo Instagram: <a href="https://instagram.com/demonte.doces/" target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido
                                                Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a
                                            href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs
                                        às 18:00hrs.</p> -->
                                </div>

