<div id="casados">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                        <div class="col2">
                                            
                                            <li>Tradicional<div class="pontos"></div><div class="preco">R$ 2,00</div></li>
                                            <p class="subtitulo">Massa branca com doce de leite</p>
                                        </div>
                                        <div class="notas">Preço Unitário</div>
                                    </ul>
                                    <p class="texto"></p>
                                    <h1 class="titulo">Embalagens</h1>
                                    <p class="texto">Os Bem Casados são enviados em embalagem tradicional.</p>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site
                                        ou pelo Instagram: <a href="https://instagram.com/demonte.doces/" target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido
                                                Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a
                                            href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs
                                        às 18:00hrs.</p> -->
                                </div>