

<div class="menu-fundo" [ngClass]="{'aberto-fundo' : mobileMenuOpen}" (click)="toggler()"></div>
<div class="menu-mobile" [ngClass]="{'aberto' : mobileMenuOpen}">
    <img src="assets/img/demontelogo.png">

    <button (click)="toggler()" class="close-mobile">
        <i class="fa fa-close"></i>
    </button>

    <ul class="navbar-nav">
        <li class="nav-item" (click)="toggler()">
            <a class="nav-link" routerLink="" routerLinkActive="ativo-mobile" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fas fa-home mini-icon"></i>
                Home
            </a>
        </li>
        <li class="nav-item" (click)="toggler()">
            <a class="nav-link" routerLink="produtos" routerLinkActive="ativo-mobile">
                <i class="fas fa-birthday-cake mini-icon"></i>
                Nossos Produtos
            </a>
        </li>
        <li class="nav-item" (click)="toggler()">
            <a class="nav-link" routerLink="quemsomos" routerLinkActive="ativo-mobile">
                <i class="fas fa-store mini-icon"></i>
                Quem Somos
            </a>
        </li>
    </ul>
</div>


<header class="header">
    
    <!--<div class="container cnt-menu" id="nvbr">-->
            <a routerLink=""><div class="logo" [ngClass]="{'sticky-logo':sticky,'top-logo':!sticky}"><img src="assets/img/demontelogo.png"></div></a>
        <nav class="navbar navbar-expand-xl navbar-light bg-white shadow-sm" id="nvbr2" [ngClass]="{'sticky-navbar':sticky,'top-navbar':!sticky}">
            
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-navicon"></i>
            </button> -->
                
                <button (click)="toggler()" class="navbar-toggler-mobile" >
                    <i class="fa fa-navicon"></i>
                </button>
                



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">
                            <i class="fas fa-home mini-icon"></i> 
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" routerLink="produtos" routerLinkActive="ativo" >
                            <i class="fas fa-birthday-cake mini-icon"></i> 
                            Nossos Produtos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="produtos/bolos" routerLinkActive="subativo">Bolos</a>
                            <a class="dropdown-item" routerLink="produtos/docinhos" routerLinkActive="subativo">Docinhos</a>
                            <a class="dropdown-item" routerLink="produtos/doces" routerLinkActive="subativo">Doces Maiores</a>
                        </div>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="quemsomos" routerLinkActive="ativo">
                            <i class="fas fa-store mini-icon"></i> 
                            Quem Somos
                        </a>
                    </li>
                    <!--     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item drop-quemsomos" routerLink="sobre" routerLinkActive="subativo">Quem somos</a>
                            <a class="dropdown-item drop-portfolio" routerLink="sobre" routerLinkActive="subativo">Portfólio</a>
                            <a class="dropdown-item drop-depoimentos" routerLink="sobre" routerLinkActive="subativo">Depoimentos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link big-icon" routerLinkActive="ativo">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link big-icon" routerLinkActive="ativo">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" role="button" aria-haspopup="true" aria-expanded="false">
                            Cenográficos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Aluguel de Bolos</a>
                            <a class="dropdown-item" href="#">Noivinhos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/encomende.html">Encomende!</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    <!--</div>
    <div class="fundo"></div>-->
    </header>