<footer>
        <div class="linha1-cnt">
            <div class="container footer-row">
                <div class="col ft-linha1 ftln1-col1">
                    <img src="assets/img/logo-rodape.png">
                    Criando os melhores bolos e doces para sua festa
                </div>
                <div class="col ft-linha1 ftln1-col2">
                    <h2>Contato</h2>
                    <div>
                        <p>Pedidos e Informações:</p>
                        <a href="https://wa.me/5511985318106" target="_blank">&nbsp; <i class="fab fa-whatsapp"></i> (11) 98531-8106</a><br>
                        <p>E-mail:</p>
                        <a href="mailto:deboradmonte@hotmail.com">&nbsp; <i class="far fa-envelope"></i> deboradmonte@hotmail.com</a>
                    </div>
                </div>
                <div class="col ft-linha1 ftln1-col3">
                    <h2>Localização</h2>
                    <div>
                        <a href="https://goo.gl/maps/1BFGTG326KtFUzAUA" target="_blank">&nbsp; Rua José Joaquim Esteves, n.201<br>
                        &nbsp; Jardim Ibirapuera<br>
                        &nbsp; São Paulo - SP</a><br>
                        <p>Entregas: <a href="https://wa.me/5511985318106" target="_blank">Consulte</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="linha2-cnt">
            <div class="container ft-linha2">
                <p>© Copyright 2020 &nbsp; | &nbsp; Dé Monte Doces</p>
                <h2>
                    <a href="https://www.facebook.com/demonte.doces/" target="_blank"><i class="fab fa-facebook-square"></i></a> &nbsp;
                    <a href="https://www.instagram.com/demonte.doces/" target="_blank"><i class="fab fa-instagram"></i></a>
                </h2>  
            </div>
        </div>
    </footer>