footer {
    position: relative;
    margin-top: 70px;
    background-color: #ca99b0;
    bottom: 0;
    left: 0;
    overflow: hidden;

}

.linha1-cnt {
    background-color: #ca99b0;
    border-top: 1px solid #ebd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.linha2-cnt {
    background-color: #b1869a;
}

footer a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fdfafb;
    transition: all 300ms ease;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.footer-row {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.ft-linha1 {
    background-color: #ca99b0;
    color: #fdfafb;
    padding: 0;
    padding:10px 5%;
    margin: 23px 0px;
    font-size: 18px;

}

.ft-linha1 img {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.ft-linha1 h2 {
    font-family: 'Mouse Memoirs', sans-serif;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    margin-bottom: 13px;
    font-size: 2rem;
}

/* .ft-linha1 a {
    font-size: 16px;
} */

.ft-linha1 p {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #f1e1e9;
}

.ft-linha1 i {
    color: #ecd5e0;
    font-size: 14px;
    margin-right: 3px;
}


.ftln1-col1 {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.ftln1-col2 {
        border-left: 4px dotted  rgba(0,0,0,0.07);
        border-right: 4px dotted  rgba(0,0,0,0.07);
        border-top: none;
        border-bottom: none;
    }

    .footer-row {
        flex-direction: row;
    }

@media (max-width: 1200px) {
    .ftln1-col2 {
        border-top: 4px dotted  rgba(0,0,0,0.07);
        border-bottom: 4px dotted  rgba(0,0,0,0.07);
        border-left:none;
        border-right:none;
        margin:0;
        padding: 1.7rem 0;
    }

    .footer-row {
        flex-direction: column;
    }

    .ft-linha1 {
        text-align: center;
        
    }
}

 .ft-linha2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b1869a;
    color: #f1d7e3;
    padding: 0px 40px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
 }

 .ft-linha2 p {
    font-size: 1rem;
    margin: 0;
}

.ft-linha2 h2 {
   margin: 0;
   text-align: center;
}

 @media (max-width: 765px) {

    footer {
        margin-top: 23px;
    }
    
    .ft-linha1 {
        padding:0px 7%;
        margin: 10px 0px;
    }

    .ftln1-col1 {
       margin-top: 30px; 
       padding-left: 15%;
       padding-right: 15%;
    }

    .ftln1-col2 {
        border:none;
    }

    .ftln1-col3 {
        margin-bottom: 1.5rem;
    }

    .ft-linha1 h2 {
        margin-bottom: 3px;
        margin-left: -2px;
        margin-top: 0px;
        font-size: 1.8rem;
    }

    .ft-linha1 p {
    margin-top: 2px;
    }

    .ft-linha2 { 
        justify-content: center;
        flex-direction: column;
        height: 100px;
        padding: 0px 20px;
    }

    .ft-linha2 p {
        margin-bottom: 10px;
    }

    .ft-linha2 h2 {
        word-spacing: -3px;
    }
    
 }