
                                <div id="naked">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                        <div class="col1">                                            
                                            <li>Bem Casado<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa de baunilha, creme de doce de leite</p>
                                            <li>Chocolate com Morango<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, brigadeiro com morangos</p>
                                            <li>Red Velvet<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa Red Velvet, creme de cheesecake</p>
                                        </div>
                                        <div class="col2">
                                            <li>Oreo<div class="pontos"></div><div class="preco">R$ 60,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, creme de cookies com Oreo</p>
                                            <li>Ninho com Nutella<div class="pontos"></div><div class="preco">R$ 80,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, brigadeiro de Ninho e Nutella</p>
                                            <li>Ferrero Rocher<div class="pontos"></div><div class="preco">R$ 80,00</div></li>
                                            <p class="subtitulo">Massa de chocolate, creme de avelã e Ferrero Rocher</p>
                                        </div>
                                    <div class="notas">Preço base por Kg ( aprox. 10 fatias )</div>
                                    </ul>
                                    <p class="texto">Também conhecido como bolo rústico ou bolo pelado, o Naked Cake possui recheio aparente e pode contar com frutas e flores para deixá-lo ainda mais bonito e
                                    gracioso.</p>
                                    <h1 class="titulo">Decoração</h1>
                                    <p class="texto">Desenvolvemos decorações com flores de açúcar ou naturais ou deliciosas frutas frescas (sujeito a sazonalidade).</p>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site
                                        ou pelo Instagram: <a href="https://instagram.com/demonte.doces/" target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido
                                                Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a
                                            href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs
                                        às 18:00hrs.</p> -->
                                </div>
