/* HERO -------------------------------- */
.jumbotron {
    background-image: url("../../assets/img/produtos/quemsomos-topo.jpg");
    background-size: cover;
    /* background-color: #634250 !important; */
    /* background-color: #8a546e !important; */
    
    margin-top: 0px;
    border-radius: 0px;
    position: absolute;
    top:0;
    margin-bottom:0px !important;
    height: 365px;
    width: 100%;
    border: none;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    color: #fff;
    padding-bottom: 120px;
    animation: jumbo-entrar2 1s ease both;
    animation-delay: .3s;
}

.jumbotron::after {
  content: "";
  background: radial-gradient(circle, rgba(150,93,121,.2) 0%, rgba(99,66,80,.5) 100%);
  top:0; 
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
  height: 365px;
}


.jumbotron .jumbolead {
    font-size: 5.5rem;
    line-height: 6rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7) !important;
    animation: jumbo-entrar .8s ease both;
    animation-delay: .65s;
    z-index: 1; 
}  


    @keyframes jumbo-entrar {
    0% {
      opacity: 0;
      transform: translateY(-5px);
      
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

    @keyframes jumbo-entrar2 {
    0% {
      opacity: 0;
      
    }
    100% {
      opacity: 1;
    }
}



/* MAIN -------------------------------- */

#sobre-cnt {
    padding: 0 !important;
    position: relative;
    max-width: 1200px;
    margin-top: 300px;
    top: 0 !important;
    border-radius: 10px;
    z-index: 1 !important;
    min-height: 80vh;
    animation: prod-entrar .5s ease both;
    animation-delay: 0.1s;
}

@media (max-width: 1199px) { 
  #sobre-cnt { 
    border-radius: 0px;
  }
}

    @keyframes prod-entrar {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

.home-titulo {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: #e291b7;
    z-index: 10 !important;
}

.linha2 {
    margin-bottom: 5rem;
}

.linha2 p {
    margin-right:30px;
    margin-top: 0px;
    margin-left: 70px;
    line-height: 30px;
    text-indent: 5rem;
}

.linha2 button {
    margin-left: 55px;
    margin-top: 20px;
    padding-right:75px;
    padding-left: 75px;
}

.linha2 img {
    width: 85%;
    min-width: 250px;
    border: 8px solid white;
    border-radius: 3px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    margin-top: 50px;
    transform: rotate(-2deg);
}

@media (max-width: 640px) {
    .linha2 img, .ln2-img {
        display: none;
    }
    .linha2 p {
        margin: 5%;
        text-indent: 3rem;
        line-height: 1.5rem;
        text-align: justify;
        font-size: 1.1rem;
    }
    .linha2 {
        margin-bottom: 2rem;
        width: 100%;
    }
    .home-titulo h1 {
      font-size: 1.5em;
  }
}

@media (max-width: 599px) { 
  .home-titulo {
    height: 5rem;
    margin-bottom: 1.5rem;
  } 
    .home-titulo:first-child {
    margin-bottom: -1rem;
    margin-top: 0.5rem;
  } 
}

@media (min-width: 641px) and (max-width: 1199px) { 
.jumbotron {
    height: 230px;
    top: 70px;
    padding-bottom: 50px;
}

.jumbotron h1 {
    bottom: 4.2rem;
}

#sobre-cnt {
    margin-top: 300px;
}
}

@media (max-width: 640px) { 
#sobre-cnt {
    margin-top: 130px;
}

.jumbotron {
    max-height: 135px;
    padding-bottom: 35px;
}

.jumbotron .jumbolead {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.jumbotron h1 {
    font-size: 1.7rem;
    bottom: 4.2rem;
    line-height: 1.5rem;
}

body {overflow-x: hidden;}
}

.mainsobre {
    overflow:hidden;
}

body, html { overflow:hidden; } 