<main class="mainsobre">
   <div class="jumbotron bg-white">
      <div class="lead jumbolead">Quem Somos</div>
   </div>
   <div class="container bg-white" id="sobre-cnt">

      <div class="row home-titulo">
         <h1>Um pouco sobre nós</h1>
      </div>
      <div class="row">
         <div class="col linha2">

            <p>O atelier <strong>Dé Monte Doces</strong> faz o melhor da festa com muito bom gosto: bolos e doces de encher os olhos e surpreender pelo
            sabor.</p>
            
            <p>Bolos personalizados, bem-casados, cupcakes, doces finos, pirulitos decorados e doces modelados compõem o amplo portfólio de produtos do atelier.</p>
            
            <p>Na fábrica própria, localizada no Jardim Ibirapuera, os produtos são preparados por uma equipe altamente especializada. 
            Os ingredientes são de altíssima qualidade. Tudo é produzido de forma artesanal e em pequenos lotes para assegurar o
            frescor, mantendo a qualidade e o sabor.</p>
            
            <p>Qualquer que seja o evento, peça uma degustação com hora marcada e conheça de perto nossos produtos.</p>
         </div>
         <div class="col-5 linha2 ln2-img">
            <img src="../../assets/img/index/quemsomos.jpg" class="thumbnail">
         </div>
      </div>


   </div>
</main>