<div id="finos">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                        <div class="col1">
                                            <li>Camafeu de Nozes<div class="pontos"></div><div class="preco">R$ 2,10</div></li>
                                            <p class="subtitulo">Recheio de Nozes, cobertura de Fondant</p>
                                            <li>Surpresa de Uva<div class="pontos"></div><div class="preco">R$ 2,00</div></li>
                                            <p class="subtitulo">Brigadeiro de ninho com uva fresca</p>
                                            <li>Bombom Noivinhos<div class="pontos"></div><div class="preco">R$ 2,30</div></li>
                                            <p class="subtitulo">Bombom de chocolate, recheio de Nutella</p>
                                            <li>Damasco Recheado<div class="pontos"></div><div class="preco">R$ 3,00</div></li>
                                            <p class="subtitulo">Damasco com brigadeiro de chocolate</p>
                                            <li>Hóstia com Iniciais<div class="pontos"></div><div class="preco">R$ 3,20</div></li>
                                            <p class="subtitulo">Brigadeiro branco com 2 hóstias decoradas</p>
                                            <li>Delícia de Morango<div class="pontos"></div><div class="preco">R$ 4,00</div></li>
                                            <p class="subtitulo">Morango com brigadeiro de Ninho e chocolate</p>
                                            
                                        </div>
                                        <div class="col2">
                                            <li>Encanto de Physalis<div class="pontos"></div><div class="preco">R$ 3,20</div></li>
                                            <p class="subtitulo">Caixa de chocolate c/ ganache branca e Physalis</p>
                                            <li>Coração com Brigadeiro<div class="pontos"></div><div class="preco">R$ 3,50</div></li>
                                            <p class="subtitulo">Coração e alianças de chocolate c/ brigadeiro</p>
                                            <li>Caixinha Praliné<div class="pontos"></div><div class="preco">R$ 3,20</div></li>
                                            <p class="subtitulo">Caixa de chocolate recheada com Praliné</p>
                                            <li>Caixinha com Buquet<div class="pontos"></div><div class="preco">R$ 6,00</div></li>
                                            <p class="subtitulo">Chocolate branco com brigadeiro de coco</p>
                                            <li>Mini Bolo de Chocolate<div class="pontos"></div><div class="preco">R$ 7,00</div></li>
                                            <p class="subtitulo">Chocolate branco, pão de ló e doce de leite</p>
                                        </div>
                                    <div class="notas">Preço Unitário ( pedido mínimo por sabor: 25un. )</div>
                                    </ul>
                                    <p class="texto">Surpreenda seus convidados com nossa seleção especial de doces finos.</p>
                                    <h1 class="titulo">Embalagens</h1>
                                    <p class="texto">Os docinhos são enviados em caixinhas brancas por padrão.</p>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site
                                        ou pelo Instagram: <a href="https://instagram.com/demonte.doces/" target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido
                                                Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a
                                            href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs
                                        às 18:00hrs.</p> -->
                                </div>