<div class="tab-content pt-2" id="myTabContent">
<div class="row">
                        <aside id="menu-lateral">
                            <div class="nav flex-column nav-pills" id="v-pills-tab3" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" id="v-pills-cupcakes-tab" routerLink="cupcakes" routerLinkActive="active">
                                    Cupcakes
                                </a>
                                <a class="nav-link" id="v-pills-pirulitos-tab" routerLink="pirulitos" routerLinkActive="active">
                                    Pirulitos Decorados
                                </a>
                                <a class="nav-link" id="v-pills-casados-tab" routerLink="bemcasados" routerLinkActive="active">
                                Bem Casados
                                </a>
                            </div>
                        </aside>
                        <article id="produtos-cnt">
                                
                                <router-outlet></router-outlet>   
                                
                        </article>
                    </div>
                </div>
