<div class="tab-content pt-2" id="myTabContent">
<div class="row">
                        <aside id="menu-lateral">
                            <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" id="v-pills-finos-tab" routerLink="finos" routerLinkActive="active">
                                Doces Finos
                                </a>
                                <a class="nav-link" id="v-pills-infantil-tab" routerLink="infantis" routerLinkActive="active">
                                Infantis
                                </a>
                                <a class="nav-link" id="v-pills-tradicionais-tab" routerLink="tradicionais" routerLinkActive="active">
                                Tradicionais
                                </a>
                            </div>
                        </aside>
                        <article id="produtos-cnt">
              
                            <router-outlet></router-outlet>
                    
                        </article>
                    </div>
                </div>
