                                <div id="pasta">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                    <div class="col1">
                                        <li>Brigadeiro Belga<div class="pontos"></div><div class="preco">R$ 10,00</div></li>
                                        <p class="subtitulo">Massa de chocolate, brigadeiro de chocolate belga</p>
                                        <li>Noir<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa de chocolate e creme de cacau belga</p>
                                        <li>Gianduia com nozes<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa de nozes, creme branco e trufa gianduia</p>
                                        <li>Prestígio<div class="pontos"></div><div class="preco">R$ 8,00</div></li>
                                        <p class="subtitulo">Massa de chocolate, creme de coco fresco</p>
                                        <li>Beijinho<div class="pontos"></div><div class="preco">R$ 8,00</div></li>
                                        <p class="subtitulo">Massa branca, creme de beijinho</p>
                                        <li>Damasco com doce de leite<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa branca, doce de leite e geléia de damasco</p>
                                    </div>
                                    <div class="col2">
                                        <li>Nozes com doce de leite<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa de nozes, doce de leite e baba de moça</p>
                                        <li>Bem casado<div class="pontos"></div><div class="preco">R$ 8,00</div></li>
                                        <p class="subtitulo">Massa branca com doce de leite queimado</p>
                                        <li>Ameixa com doce de leite<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa branca, creme branco e doce de leite com ameixa</p>
                                        <li>Nozes com chocolate<div class="pontos"></div><div class="preco">R$ 9,50</div></li>
                                        <p class="subtitulo">Massa de chocolate, doce de leite, nozes e ganache belga</p>
                                        <li>Brigadeiro de Ninho com Morango<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa branca, brigadeiro de Ninho e geléia de morango</p>
                                        <li>Brigadeiro de Ninho com Abacaxi<div class="pontos"></div><div class="preco">R$ 9,00</div></li>
                                        <p class="subtitulo">Massa branca, brigadeiro de Ninho e doce de abacaxi</p>
                                    </div>
                                    <div class="notas">Preço base por Fatia ( peso aprox.: 100g )</div>
                                    </ul>
                                    <p class="texto">Seja festa infantil, bodas, batizado, chá de bebê ou outra ocasião, encante seus convidados com nossa arte
                                    feita em pasta de açúcar: a <b>Pasta Americana</b>.</p>
                                    <h1 class="titulo">Decoração</h1>
                                    <p class="texto">Desenvolvemos decorações com flores de açúcar ou naturais, personagens e outros objetos modelados com Pasta Americana, além de andares <i>fake</i> para complementar seu bolo de andar.</p>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site ou pelo Instagram: <a href="https://instagram.com/demonte.doces/"target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs às 18:00hrs.</p>
                                    <p class="texto">Como alternativa aos bolos com decoração em pasta americana, dispomos de <a href="#">Bolos Fake para
                                            aluguel</a> e <a class="bolo-corte" href="#">bolos de corte</a>.</p> -->
                                </div>