<div id="cupcakes">
                                    <h1 class="titulo">Sabores</h1>
                                    <ul class="sabores-cnt">
                                    <div class="col1">
                                        <h1 class="titulo-sabores"><div class="cor-dif">Tamanho</div> Mini</h1>
                                        <li>Chocolate<div class="pontos"></div><div class="preco">R$ 2,50</div></li>
                                        <p class="subtitulo">Massa de chocolate, mousse de chocolate</p>
                                        <li>Morango<div class="pontos"></div><div class="preco">R$ 2,50</div></li>
                                        <p class="subtitulo">Massa branca, mousse de morango</p>
                                        <li>Doce de Leite<div class="pontos"></div><div class="preco">R$ 2,50</div></li>
                                        <p class="subtitulo">Massa branca, doce de leite e chantilly</p>
                                    </div>
                                    <div class="col2">
                                        <h1 class="titulo-sabores"><div class="cor-dif">Tamanho</div> Padrão</h1>
                                        <li>Chocolate<div class="pontos"></div><div class="preco">R$ 4,00</div></li>
                                        <p class="subtitulo">Massa de chocolate, mousse de chocolate</p>
                                        <li>Morango<div class="pontos"></div><div class="preco">R$ 4,00</div></li>
                                        <p class="subtitulo">Massa branca, mousse de morango</p>
                                        <li>Doce de Leite<div class="pontos"></div><div class="preco">R$ 4,00</div></li>
                                        <p class="subtitulo">Massa branca, doce de leite e chantilly</p>
                                    </div>
                                    <div class="notas">Preço unitário (Chantilly)</div>
                                    </ul>
                                    <p class="texto"></p>
                                    <h1 class="titulo">Decoração</h1>
                                    <p class="texto">Os Cupcakes podem ser decorados com Pasta Americana conforme opções abaixo:</p>
                                    <ul class="sabores-cnt">
                                    <div class="col1">
                                        <h1 class="titulo-sabores"><div class="cor-dif">Decoração</div> 2D</h1>
                
                                        <li>Tamanho Mini<div class="pontos"></div><div class="preco"><div class="cor-dif">a partir de</div> R$ 3,50</div></li>
                                        <li>Tamanho Padrão<div class="pontos"></div><div class="preco"><div class="cor-dif">a partir de</div> R$ 6,00</div></li>
                                    </div>
                                    <div class="col2">
                                        <h1 class="titulo-sabores"><div class="cor-dif">Decoração</div> 3D</h1>
                                    
                                        <li>Tamanho Mini<div class="pontos"></div><div class="preco"><div class="cor-dif">a partir de</div> R$ 5,50</div></li>
                                        <li>Tamanho Padrão<div class="pontos"></div><div class="preco"><div class="cor-dif">a partir de</div> R$ 8,50</div></li>
                                    </div>
                                    <div class="notas2">Preço "com decoração", unitário</div>
                                    </ul>
                                    <!-- <h1 class="titulo">Fotos</h1>
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <img class="galeria-prod" src="/imagens/img-tmb.jpg">
                                    <p class="texto">Conheça mais nosso trabalho visitando a página <a href="sobre.html#portfolio/">Portfólio</a> deste site ou pelo Instagram: <a href="https://instagram.com/demonte.doces/"target="_blank">@demonte.doces</a>.</p>
                                    <h1 class="titulo">Orçamento</h1>
                                    <p class="texto">Monte seu pedido em nossa página de encomendas e agilize o processo para obter seu orçamento:</p>
                                    <div class="btn-cnt"><a href="encomende.html/"><button type="button" class="btn btn-padrao">Monte seu Pedido Online</button></a></div>
                                    <p class="texto">Caso prefira, tire suas dúvidas e obtenha seu orçamento por e-mail <a href="mailto:contato@demontedoces.com.br">contato@demontedoces.com.br</a> ou
                                        Whatsapp <a href="https://wa.me/5511985318106" target="_blank">(11) 98531-8106</a>, de segunda à sábado, das 9:00hrs às 18:00hrs.</p>
                                    <p class="texto">Como alternativa aos bolos com decoração em pasta americana, dispomos de <a href="#">Bolos Fake para
                                            aluguel</a> e <a class="bolo-corte" href="#">bolos de corte</a>.</p> -->
                                </div>